# Variables & DataTypes

## Questions

**Exercise 1: Basic Variables**

Create a variable named `greeting` and assign the string `Hello, World!` to it. Print the variable.

In [2]:
greeting = ("Hello, World")
print (greeting)

Hello, World

**Exercise 2: Simple Arithmetic**

Create two variables, `a` and `b`, assign them the values `5` and `7`, respectively. Add these two variables and assign the result to a new variable `c`. Print `c`.

In [2]:
a = 5 
b = 7
c = (a+b)
print (c)

12

**Exercise 3: String Concatenation**

Create two string variables, `first_name` and `last_name`, and assign your first and last names to them. Concatenate these two variables with a space in between, and assign the result to a new variable `full_name`. Print `full_name`.

In [8]:
first_name = 'Yosef'
last_name = 'Gerstein'
full_name = (first_name +' '+ last_name)

print(full_name)

Yosef Gerstein

**Exercise 4: Converting Integers to Floats**

Create an integer variable `x` with value `10`. Convert `x` to a float and assign it to a new variable `y`. Print `y`.

In [9]:
x = 10
y = float(x)

print(y)

10.0

**Exercise 5: Boolean Variables**

Assign the value `True` to a variable `is_active`. Print `is_active`.

In [10]:
is_active = True

is_active

True

**Exercise 6: Variable Swap**

Swap the values of two variables, `p` and `q`, without using a third variable.

In [18]:
p = 10
q = 20

p, q = q, p

print("p =", p)
print("q =", q)

p = 20
q = 10

**Exercise 7: String Length**

Calculate the length of a string variable `sentence`. Print the length

In [11]:
len("Sentence")

8

**Exercise 8: Negative Number**

Create a negative integer variable `neg_num` with value `-100`. Print `neg_num`.

In [12]:
neg_num = -100

print(neg_num)

-100

**Exercise 9: Multi-line Strings**

Assign a multi-line string (string with line breaks) to a variable `poem`. Print `poem`.

In [13]:
poem = """Roses are red, 
Violets are blue, 
Python is awesome, 
And so are you."""

print (poem)

Roses are red,
Violets are blue,
Python is awesome,
And so are you.

**Exercise 10: User Input**

Write a program to accept user input `2`, convert it to an integer, multiply it by 2, and display it.

In [19]:
user_input = input("Enter a number: ")

number = int(user_input)

result = number * 2

print(result)

4

**Exercise 11: Type Conversion**

Write a Python program to add a string `Python` and a number `3`. Hint: You'll need to convert the number to a string first.

In [21]:
A = "Python"
B = 3
C = A + str(B)

print(C)

Python3

**Exercise 12: String Formatting**

Print the variables `greeting` (a string), `a` and `b` (integers), and `z` (a float) in a formatted string.

In [36]:
A = 10 
B = 20
C = 3.5

greeting = ("Hello, the integers are"+' '+ str(A) + " and " + str(B) + ', ' + "and the float is "+ str(C) + '.')

print(greeting)

Hello, the integers are 10 and 20, and the float is 3.5.

**Exercise 13: Arithmetic Operations**

Perform all basic arithmetic operations with two variables `x = 15` and `y = 6`.

In [28]:
x = 15
y = 6

print ("Addition:" , str(x+y))
print ("Subtraction:" , str(x-y)) 
print ("Multiplication:" , str(x*y)) 
print ("Division:" , str(x/y)) 
print ("Floor division:" , str(x//y)) 
print ("Modulus:" , str(x%y)) 
print ("Exponent:" , str(x**y))

Addition: 21
Subtraction: 9
Multiplication: 90
Division: 2.5
Floor division: 2
Modulus: 3
Exponent: 11390625

**Exercise 14: String Indexing**

Print the first, third and last character of the string `s = "Python"`.

In [27]:
s = "Python"

print("First character:", s[0])
print("Third character:", s[2])
print("Last character:", s[-1])

First character: P
Third character: t
Last character: n

**Exercise 15: String Case Conversion**

Convert a string variable `text = "Python Programming"` to uppercase, and then to lowercase.

In [38]:

text = "Python Programming"

print (text.upper())
print (text.lower())

PYTHON PROGRAMMING
python programming

**Exercise 16: Concatenate and Repeat Strings**

Create two string variables, `s1` with value `Hello` and `s2` with value `World`. Concatenate them with a space in between and repeat this concatenated string 3 times.

In [42]:
s1 = "Hello"
s2 = "World"

concat_string = s1 + " " + s2 + " "
result = concat_string * 3

print(result)

Hello World Hello World Hello World

**Exercise 17: Use the `type()` Function**

Use the `type()` function to find the data type of a variable `z` with value `3.14`.

In [43]:
z = 3.14 

type(z)

float

**Exercise 18: String to List Conversion**

Count the number of times the character `o` apears in the sstring `s = Hello, how are you?`.

In [44]:
s = "Hello, how are you?"

count_o = s.count('o')

print(count_o)

3

**Exercise 19: String Reversal**

Reverse a string `text = "Python"`.

In [45]:
text = "Python"
reversed_text = text[::-1]

print(reversed_text)

nohtyP

**Exercise 20: Formatted String from User Input**

Ask the user for their name and age, then print a greeting that includes these details.

In [46]:
name = input("Enter your name: ")
age = input("Enter your age: ")

print("Hello, {}! You are {} years old.".format(name, age))

Hello, Yosef! You are 39 years old.