# Data Structures

## Questions

Exercise 1: Creating a List `fruits = ["apple", "banana", "cherry"]`

In [1]:
fruits = ["apple", "banana", "cherry"]

print (fruits)

['apple', 'banana', 'cherry']

Exercise 2: Accessing List Elements `banana`

In [3]:
fruits[1]

'banana'

Exercise 3: Changing List Element `banana` with `blueberry`

In [5]:
banana_index = fruits.index("banana")

fruits[banana_index] = "blueberry"

print(fruits)

['apple', 'blueberry', 'cherry']

Exercise 4: Adding Elements to a List `orange`

In [6]:
fruits.append("orange")

print(fruits)

['apple', 'blueberry', 'cherry', 'orange']

Exercise 5: Removing Element `blueberry` from a List

In [7]:
fruits.remove("blueberry")

print(fruits)

['apple', 'cherry', 'orange']

Exercise 6: Creating a Tuple `coordinates = (4, 5)`

In [9]:
coordinates = (4, 5)

print(coordinates)

(4, 5)

Exercise 7: Accessing Tuple Element `4`

In [10]:
coordinates[0]

4

Exercise 8: Tuple Immutability - Try to change Element `5` with `10`. It will raise an error.

In [13]:
# Error
coordinates[1] = 10

TypeError: 'tuple' object does not support item assignment

Exercise 9: Creating a Set `numbers = {1, 2, 3, 4, 5}`

In [14]:
numbers = {1, 2, 3, 4, 5}

print(numbers)

{1, 2, 3, 4, 5}

Exercise 10: Add `6` to a Set

In [15]:
numbers.add(6)

print(numbers)

{1, 2, 3, 4, 5, 6}

Exercise 11: Creat a Frozenset from the previous set

In [17]:
Frozen_Set = frozenset(numbers)

print(Frozen_Set)

frozenset({1, 2, 3, 4, 5, 6})

Exercise 12: Frozenset Immutability - Try to Add `7` to the new frozenset. It will raise an error.

In [18]:
# Error
Frozen_Set.add(7)

AttributeError: 'frozenset' object has no attribute 'add'

Exercise 13: Creating a Dictionary `fruit_colors = {"apple": "red", "banana": "yellow", "cherry": "red"}`

In [19]:
fruit_colors = {"apple": "red", "banana": "yellow", "cherry": "red"}

print(fruit_colors)

{'apple': 'red', 'banana': 'yellow', 'cherry': 'red'}

Exercise 14: Accessing Dictionary Values. Print `apple` color

In [20]:
fruit_colors["apple"]

'red'

Exercise 15: Changing Dictionary Values. Replace the `apple` color to `green`

In [21]:
fruit_colors["apple"] = "green"

print(fruit_colors)

{'apple': 'green', 'banana': 'yellow', 'cherry': 'red'}

Exercise 16: Adding Key-Value Pairs to a Dictionary `'blueberry': 'blue'`

In [22]:
fruit_colors["blueberry"] = "blue"

print(fruit_colors)

{'apple': 'green', 'banana': 'yellow', 'cherry': 'red', 'blueberry': 'blue'}

Exercise 17: Removing Key-Value Pairs from a Dictionary `'banana': 'yellow'`

In [23]:
fruit_colors.pop("banana")

print(fruit_colors)

{'apple': 'green', 'cherry': 'red', 'blueberry': 'blue'}

Exercise 18: Creating a List of Lists (Matrix) `matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]`

In [24]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Exercise 19: Accessing Element `2` in a List of Lists

In [29]:
matrix[0][1]

2

Exercise 20: Changing Element `6` into 10

In [30]:
matrix[1][2] = 10

print(matrix)

[[1, 2, 3], [4, 5, 10], [7, 8, 9]]

Exercise 21: Creating a Range `0` to `10` and print it

In [32]:
num_range = range(0,11)

range_list = list(num_range)

print(range_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Exercise 22: Creating a Range  `0` to `10` with Step `2`

In [33]:
even_range = range(0, 11, 2)

even_list = list(even_range)

print(even_list)

[0, 2, 4, 6, 8, 10]

Exercise 23: Accessing Range Element `4`

In [34]:
range_list[4]

4

Exercise 24: Using List Methods, use the list `fruits = ["apple", "cherry", "apple", "cherry", "apple"]` and count the number of times the string `apple` apears

In [35]:
fruits = ["apple", "cherry", "apple", "cherry", "apple"]

fruits.count("apple")

3

Exercise 25: Sorting the List in decending order

In [37]:
fruits.sort(reverse=True)

print (fruits)

['cherry', 'cherry', 'apple', 'apple', 'apple']

Exercise 26: Reversing the List

In [39]:
fruits.sort(reverse=False)

print (fruits)

['apple', 'apple', 'apple', 'cherry', 'cherry']

Exercise 27: Joining a List of Strings - Create the string `apple, apple, apple, cherry, cherry` from the list `fruits`. save it to a variable called `fruit_string` and Print it

In [40]:
fruit_string = ', '.join(fruits)

print(fruit_string)

apple, apple, apple, cherry, cherry

Exercise 28: Splitting a String into a List - split the strinf `fruit_string` back into a list

In [41]:
fruits = fruit_string.split(", ")

print(fruits)

['apple', 'apple', 'apple', 'cherry', 'cherry']

Exercise 29: Using Dictionary Methods - Create a list from `fruit_colors` keys

In [42]:
fruits = list(fruit_colors.keys())

print(fruits)

['apple', 'cherry', 'blueberry']

Exercise 30: Using Dictionary Methods - Create a list from `fruit_colors` values

In [43]:
colors = list(fruit_colors.values())

print(colors)

['green', 'red', 'blue']