# Functions

## Questions

**Exercise 1: Define a simple function called 'greet' that prints 'Hello, world!' when called.**

In [2]:
def greet():
    print('Hello, world!')

**Exercise 2: Call the 'greet' function you defined.**

In [3]:
greet()

Hello, world!

**Exercise 3: Define a function 'add' that takes two parameters and returns their sum.**

In [4]:
def add(x, y):
    sum = x + y
    print(sum)

**Exercise 4: Call the 'add' function with 2 and 3 as arguments.**

In [5]:
add(2, 3)

5

**Exercise 5: Modify the 'add' function to return 'Invalid Input' if any of the input parameters are not an integer or a float.**

In [1]:
def add(x, y):
    if not (isinstance(x, (int, float)) and isinstance(y, (int, float))):
        return 'Invalid Input'
    return x + y

**Exercise 6: Define a function 'safe_divide' that takes two parameters and returns their division result. If division is not possible, it should return 'Invalid Operation'.**

In [4]:
def safe_divide(x, y):
    try:
        result = x / y
        return result
    except ZeroDivisionError:
        return 'Invalid Operation'

**Exercise 7: Call 'safe_divide' with 10 and 2, and then with 10 and 0.**

In [5]:
valid_result = safe_divide(10, 2)
print(valid_result) 

invalid_result = safe_divide(10, 0)
print(invalid_result)

Invalid Operation

**Exercise 8: Create a function 'create_full_name' that takes two parameters - 'first_name' and 'last_name' (default value = 'Smith') - and returns the full name.**

In [6]:
def create_full_name(first_name, last_name='Smith'):
    full_name = f"{first_name} {last_name}"
    return full_name

**Exercise 9: Call 'create_full_name' with 'John' as the first_name. Then call it with 'John' as the first_name and 'Doe' as the last_name.**

In [8]:
full_name_j = create_full_name('John')
print(full_name_j) 

full_name_jd = create_full_name('John', 'Doe')
print(full_name_jd)

John Doe

**Exercise 10: Define a function 'sum_all' that takes any number of input parameters and returns their sum.**

In [9]:
def sum_all(*args):
    return sum(args)

**Exercise 11: Call 'sum_all' with 1, 2, 3, 4, and 5 as inputs.**

In [11]:
result = sum_all(1, 2, 3, 4, 5)
print(result)

15

**Exercise 12: Define a function 'key_value_pairs' that takes arbitrary keyword arguments and returns a dictionary of these arguments.**

In [12]:
def key_value_pairs(**kwargs):
    return kwargs

**Exercise 13: Call 'key_value_pairs' with 'name' = 'John' and 'age' = 25.**

In [13]:
result = key_value_pairs(name='John', age=25)
print(result)

{'name': 'John', 'age': 25}

**Exercise 14: Declare a global variable 'x', set its value to 10. Then define a function 'modify_global_var' that changes the global 'x' to 20.**

In [14]:
x = 10  

def modify_global_var():
    global x  
    x = 20

**Exercise 15: Print the value of 'x', call 'modify_global_var', then print the value of 'x' again.**

In [15]:
print(x)

modify_global_var()
print(x)

10
20

**Exercise 16: Define a function 'raise_error' that raises an ValueError with the message 'An error has occurred'.**

In [16]:
def raise_error():
    raise ValueError('An error has occurred')

**Exercise 17: Define a function 'handle_error' that calls 'raise_error' in a try block and handles the ValueError in an except block by printing the error message.**

In [19]:
def handle_error():
    try:
        raise_error()
    except ValueError as e:
        print(e)

**Exercise 18: Call 'handle_error'.**

In [20]:
handle_error()

An error has occurred

**Exercise 19: Write a function divide_by_two that accepts a list of numbers and returns a new list where each number is divided by 2.**

In [21]:
def divide_by_two(numbers):
    return [number / 2 for number in numbers]

**Exercise 20: Write a function get_even_numbers that accepts a list of numbers and returns a new list containing only the even numbers from the input list.**

In [22]:
def get_even_numbers(numbers):
    return [number for number in numbers if number % 2 == 0]

**Exercise 21: Write a function multiply_numbers that accepts a list of numbers and returns the product of all the numbers in the list.**

In [23]:
def multiply_numbers(numbers):
    result = 1
    for number in numbers:
        result *= number
    return result

**Exercise 22: Call divide_by_two with the list [1, 2, 3, 4, 5].**

In [24]:
divide_by_two([1, 2, 3, 4, 5])

[0.5, 1.0, 1.5, 2.0, 2.5]

**Exercise 23: Call get_even_numbers with the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10].**

In [25]:
get_even_numbers([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

[2, 4, 6, 8, 10]

**Exercise 24: Call multiply_numbers with the list [1, 2, 3, 4, 5].**

In [26]:
multiply_numbers([1, 2, 3, 4, 5])

120

**Exercise 25: Modify multiply_numbers to return "Invalid Operation" if the list is empty.**

In [27]:
def multiply_numbers(numbers):
    if not numbers:
        return "Invalid Operation"
    
    result = 1
    for number in numbers:
        result *= number
    return result

**Exercise 26: Call multiply_numbers with an empty list.**

In [28]:
multiply_numbers([])

'Invalid Operation'

**Exercise 27: Define a function calculate_operation that receives a list of tuples. Each tuple contains a string (can be "add", "subtract", "multiply", or "divide") and two integers. The function should return a list of results according to the operation of each tuple. For example: [("add", 2, 3), ("subtract", 5, 2), ("multiply", 2, 3)] should return [5, 3, 6].**

In [34]:
def calculate_operation(operation_list):
    results = []
    for operation, operand1, operand2 in operation_list:
        if operation == "add":
            result = operand1 + operand2
        elif operation == "subtract":
            result = operand1 - operand2
        elif operation == "multiply":
            result = operand1 * operand2
        elif operation == "divide":
            if operand2 != 0:
                result = operand1 / operand2
            else:
                result = "Invalid Operation (Division by Zero)"
        else:
            result = "Invalid Operation"
        
        results.append(result)

    return results

operations = [("add", 2, 3), ("subtract", 5, 2), ("multiply", 2, 3)]
results = calculate_operation(operations)
print(results)

[5, 3, 6]

**Exercise 28: Create a function sum_of_squares that receives an integer n and returns the sum of the squares of all numbers from 1 to n. For example, if n = 3, it should return 14 because 1^2 + 2^2 + 3^2 = 14.**

In [35]:
def sum_of_squares(n):
    return sum(i**2 for i in range(1, n+1))

result = sum_of_squares(3)
print(result)

14


**Exercise 29: Create a function fibonacci that receives an integer n and returns the nth Fibonacci number. Fibonacci sequence is: 0, 1, 1, 2, 3, 5, 8, 13, ..., where each number is the sum of the two preceding ones. For example, if n = 7, it should return 8**

In [10]:
def fibonacci(n):
    if n <= 1:
        return n
    
    a, b = 0, 1
    for _ in range(n - 1):
        a, b = b, a + b

    return a  

result = fibonacci(7)
print(result)

8